<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <title>Info on Brian L.</title>
    <style>
        body {
            padding: 20px;
        }

        .container {
            background-color: rgba(209, 209, 224, 0.3);
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>Brian Lim</h3>
        <p>My name is Brian and I am in my last semester here at SF State. This semester, besides CSC648, I am also taking CSC600, IBUS330, and
            HIST470. I have been interning at an EV self-driving automotive company called SERES for the last two years
            assisting with IT operations. While I have some scripting experience that I use in my everyday job, I am looking for
            other internship/full time opportunities when I graduate. </p>
        <button class="btn btn-s btn-success" id="returnHome" type="submit" onclick="window.location.href = '{%  url 'm0-home' %}';">Go Home&rarr;</button> </br>
    </div>
</body>
</html>