<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <title>Info on Brian L.</title>
    <style>
        body {
            padding: 20px;
        }

        .container {
            background-color: rgba(209, 209, 224, 0.3);
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>Zike Xian</h3>
        <p>My name is Zike.I am going to graudate here at SF State in this semester. This semester, besides CSC648, I am also taking CSC600, ID240, CSC510 and
            CSC675.I don't have any experience of the work on tany IT company but I did have many work experience in some office.But this is not the job I enjoy.
            I am trying to have a internship in this summer time.I did have design some UI of app before and I am familiar to Java and C++. And now I am learning
            Pyton and database so I will try to be a good database master.</p>
        <button class="btn btn-s btn-success" id="returnHome" type="submit" onclick="window.location.href = '{%  url 'm0-home' %}';">Go Home&rarr;</button> </br>
    </div>
</body>
</html>