<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <title>Info on May</title>
    <style>
        body {
            padding: 20px;
        }

        .container {
            background-color: rgba(209, 209, 224, 0.3);
        }
    </style>
</head>
<body>
<div class="container">
    <h3>May Naing</h3>
    <p> My name is May and I am currently a senior hoping to graduate this semester. In addition to this class, I am
        also taking CSC642, MATH400, and ISYS263. In my free time I like to do various watersports, play video games,
        and bake. I am also applying to different places in search of a job for when I graduate. I look forward to
        learning new things and working with everyone this semester. </p>
    <button class="btn btn-s btn-success" id="returnHome" type="submit" onclick="window.location.href = '{%  url 'm0-home' %}';">Go Home&rarr;</button> </br>
</div>
</body>
</html>