<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <style>
        body {
            padding: 20px;
        }

        .container {
            background-color: rgba(200, 0, 0, 1);
        }
    </style>
</head>
<body>
    <div class="container">
        <h3 style="color:Black;">Benjamin Fletes</h3>
        <h4 style="color:Black;">About Me</h4>
        <p style="color:Black;">My name is Benjamin Fletes. I want to do Artificial Intelligence in the future. I speak English and Spanish. My interests are video games, discussing ideas for a better tomorrow, and make people laugh. I love math and science I hope this semester goes well. I will do my best </p>
        <button class="btn btn-s btn-success" id="returnHome" type="submit" onclick="window.location.href = '{%  url 'm0-home' %}';">Go Home&rarr;</button> </br>
    </div>
</body>
</html>