<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <title>Info on Sanjay M.</title>
    <style>
        body {
            padding: 20px;
        }

        .container {
            background-color: rgba(209, 209, 224, 0.3);
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>Sanjay Mirani</h3>
        <p>Hey Everyone, My name is Sanjay Mirani and this is my first semester here at SF state as a graduate student.
            Besides this class, I have taken Internet application design and development and Graduate writing skills.
            Great to see myself here. And looking forward to pass out good this semester.</p>

        <button class="btn btn-s btn-success" id="returnHome" type="submit" onclick="window.location.href = '{%  url 'm0-home' %}';">Go Home&rarr;</button> </br>
    </div>
</body>
</html>