<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <title>Home Page: Team01</title>
    <style>
        button {
            background-color: #4CAF50;
            color: white;
            margin-left: 20px;
            margin-top: 10px;
            padding: 14px 20px;
            border: none;
            cursor: pointer;
            width: 50%;
        }

        button:hover {
            opacity: 0.8;
        }
    </style>


</head>
    <h2>
        <div style="text-align: center;">Team01 Home Page</div>
    </h2>
    <br>
    <br>
    <button class="btn btn-s btn-success" id="brian" class="btnpad" type="submit" onclick="window.location.href = '{%  url 'about_brian' %}';">Brian's Page &rarr;</button> </br>
    <button class="btn btn-s btn-success" id="may" class="btnpad"  type="submit" onclick="window.location.href = '{%  url 'about_may' %}';">May's Page &rarr;</button> </br>
    <button class="btn btn-s btn-success" id="sanjay" class="btnpad"  type="submit" onclick="window.location.href = '{%  url 'about_sanjay' %}';">Sanjay's Page &rarr;</button> </br>
    <button class="btn btn-s btn-success" id="dibs" class="btnpad"  type="submit" onclick="window.location.href = '{%  url 'about_dibs' %}';">Dib's Page &rarr;</button> </br>
    <button class="btn btn-s btn-success" id="zike" class="btnpad"  type="submit" onclick="window.location.href = '{%  url 'about_kevin' %}';">Zike's Page &rarr;</button> </br>
    <button class="btn btn-s btn-success" id="ben" class="btnpad" type="submit" onclick="window.location.href = '{%  url 'about_ben' %}';">Ben's Page &rarr;</button> </br>
</body>
</html>
